{% extends 'base.html' %}

{% block title %}
    Jewerly Details
{% endblock %}

{% block content %}

    <div style="background-color: #ffce77">
        <div class="container">
            <h1 class="display-2 mb-0 pb-5 pt-5 text-center text-primary fw-bold text-uppercase">Product #{{ jewerly.id }}</h1>
        </div>
    </div>
    <div class="bg-warning pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 d-flex align-items-center mb-5">
                    <div class="card border-0 bg-primary text-white text-center w-100" style="height: 550px">
                        <div class="d-flex justify-content-center bg-warning mb-2">
                            <img src="{{ MEDIA_URL }}{{ jewerly.image.url }}" alt="" class="img-fluid"
                                 style="height: 400px; width: 400px">
                        </div>
                        <h3><a href="{% url 'jewerly_details' jewerly.id %}" class="text-white">{{ jewerly.name }}</a>
                        </h3>
                        <p>{{ jewerly.price }}</p>
                        <p>{{ jewerly.description }}</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 d-flex align-items-center mb-5">
                        <form class="w-100" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary text-white text-uppercase w-100 text-center pt-3 pb-3">Add to cart: ${{ jewerly.price }} USD</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}