{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div style="background-color: #ffce77">
        <div class="container">
            <h1 class="display-2 mb-0 pb-5 pt-5 text-center text-primary fw-bold text-uppercase">Register</h1>
        </div>
    </div>
    <div class="bg-warning pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 d-flex align-items-center justify-content-center mb-5 bg-primary rounded pt-5 pb-5">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning w-100 mb-3 text-white">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}